@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">@Html.ActionLink("TShirt Size Conversion", "Create", "TShirtSizeConversion")</h2>
</div>
